<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headFragment">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Thymeleaf 예제</title>
	
	<!-- CSS -->
	<link th:src="@{/css/common.css}" rel="stylesheet">
	
	<!-- JS -->
	<script th:src="@{/js/common.js}"></script>
</head>
</html>

